.size_max_pages {
    max-width: 1055px;
    margin: auto;
    position: relative;
    padding-bottom: 50px;
}

.img_top {
    max-height: 500px;
    width: 100%;
    object-fit: cover;
}

.d_flex {
    display: flex;
}

.text_points {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Menu */

.menu {
    margin-top: -100px;
    border-radius: 15px 15px 0px 0px;
}

.top_menu {
    display: flex;
    padding: 51px 0px 40px 35%;
}

.h2_menu {
    padding-right: 24px;
    font-size: 28px;
    font-style: italic;
    font-weight: 400;
    line-height: 41px;
}

.size_menu {
    max-width: 646px;
    margin: auto;
    position: relative;
    padding: 12px;
}

.menu_list {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    border-radius: 15px;
    padding: 12px 30px 12px 20px;
    margin: 12px 0px 12px 0px;
    animation: menu_apear 1s;
    animation-fill-mode: both;
}

.p1_menu {
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.p2_menu {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.p_price {
    padding-top: 20px;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
}

.menu_h2 {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    padding-bottom: 8px;
}

.undeline_menu {
    background-color: #99E2D0;
    padding: 0px 10px 3px 0px;
    max-width: 40px;
    margin-bottom: 12px;
}

.boutton_menu {
    padding-top: 40px;
}

.delay_menu_1 {
    animation-delay: 0.3s;
}

.delay_menu_2 {
    animation-delay: 0.6s;
}

/* menu_confirmation */

.confirmation {
    align-items: center;
    justify-content: center;
    background-color: #99E2D0;
    margin: -11px -5rem -1rem 1rem;
    width: 4rem;
    height: 63px;
    border-radius: 0px 15px 15px 0px;
    transition-duration: 0.5s;
    visibility: hidden;
}

.menu_list:hover .confirmation {
    margin-right: -30px;
    transition-duration: 0.4s;
    visibility: visible;
}

.box_confirmation {
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
    transition-duration: 0.5s;
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

.menu_list:hover .box_confirmation {
    transform: rotate(0);
}

/* menu_apear */

@keyframes menu_apear {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 992px) {

    .img_top {
        max-height: 375px;
    }

    .top_menu {
        justify-content: space-between;
        padding: 31px 17px 40px 17px;
    }

    .size_menu {
        max-width: 1024px;
    }
}